@import '../../variables.scss';

.form-wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: $darkTextColour;
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    > label {
      margin-left: 0.5rem;
      margin-bottom: 0.2rem;
      font-size: 0.8rem;
      color: $lightTextColour;
    }

    > input {
      border-radius: $boxBorderRadius;
      color: $darkTextColour;
      font-size: 1.1rem;
      padding: 0.5rem;
      border: none;
      outline: none;
      border-bottom: 2px solid $lightTextColour;
      background: #f4f4f4;

      &:focus {
        border-color: $primaryBlueColour;
      }

      &.filled {
        border-color: $primaryBlueColour;
      }

      &.error {
        border-color: $primaryRedColour;
        background-color: rgba($primaryRedColour, 0.1);
      }
    }
  }
}
