@import '../../variables.scss';

.shopping-basket-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  #basket-summary-wrapper {
    margin: 0 $containerMargin;
    min-width: 180px;

    #summary-title {
      line-height: $boxSize;
      margin: $boxMargin 0;
    }

    #total-items-count,
    #total-items-cost {
      font-size: 1.1rem;
      color: $darkTextColour;
    }
  }
}

@media (max-width: 800px) {
  .shopping-basket-wrapper {
    flex-direction: column;

    #basket-summary-wrapper {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
