@import '../../variables.scss';

@function sidePadding() {
  @return $containerMargin + $boxMargin;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: $whiteTextColour;
  background: $primaryBlueColour;
  padding: 1rem sidePadding();
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);

  .app-title {
    color: $whiteTextColour;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    .nav-link {
      text-decoration: none;
      margin-left: 2rem;
      padding: 0.5rem;
      height: 100%;
      position: relative;
      opacity: 0.8;
      color: $whiteTextColour;
      user-select: none;
      transition: opacity ease-out 200ms;

      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        border-bottom: 2px solid #fff;
        transform: scaleX(0);
        transition: transform 200ms ease-out;
      }

      &:visited {
        color: $whiteTextColour;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .active {
      opacity: 1;
    }

    .active:after {
      transform: scaleX(1);
    }
  }
}

@media (max-width: 800px) {
  nav {
    padding: 1rem;

    .nav-list .nav-link {
      margin-left: 1rem;
    }
  }
}
