@import '../../variables.scss';

.registration-wrapper {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-complete-wrapper {
  color: $darkTextColour;

  .register-again-button {
    background: none;
    height: 1.2rem;
    margin-top: 0.5rem;
    padding: 0;
    text-decoration: underline;
    color: $lightTextColour;
  }
}
