@import '../../variables.scss';

.login-wrapper {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registration-success {
    margin-bottom: 0.5rem;
    color: $primaryGreenColour;
    opacity: 0.9;
  }
}
