$primaryBlueColour: rgb(28, 134, 238);
$primaryGreenColour: rgb(11, 214, 65);
$lightOrangeColour: rgb(250, 197, 51);
$primaryOrangeColour: rgb(255, 157, 38);
$primaryRedColour: rgb(245, 64, 41);
$whiteTextColour: rgb(255, 255, 255);
$lightTextColour: rgb(150, 150, 150);
$darkTextColour: rgb(51, 51, 51);

$boxSize: 2rem;
$boxBorderRadius: 3px;
$boxMargin: 0.2rem;
$containerMargin: 3rem;
