@import '../../variables.scss';

.form-button {
  width: 7rem;
  color: $offWhiteColour;
  background: $primaryBlueColour;

  &:disabled {
    opacity: 0.5;
  }

  &.loading {
    background-image: url('../../assets/loading-spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
  }
}
