@import '../../variables.scss';

.page-wrapper {
  display: flex;
  justify-content: center;
  margin: 5rem $containerMargin 2rem;
  position: relative;
}

@media (max-width: 800px) {
  .page-wrapper {
    margin: 5rem 2rem;
  }
}
